
/*
 $URL: https://xautomation.svn.sourceforge.net/svnroot/xautomation/trunk/docs/html/xaut.css $
 $Author: chris_parker $
 $Date: 2010-05-01 17:17:37 -0700 (Sat, 01 May 2010) $
 $Rev: 5 $
*/

body {
  background: #f3f6ff;
}
#container {
  background: #f0f0f0;
}
.command, .synopsis {
  background: #fff;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}
.section {
  padding: 10px 0px;
}
table.param_table, table.synopsis_table {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-spacing: 0px;
  width: 100%;
}
table.param_table th, table.synopsis_table th {
  border-width: 1px 1px 0px 0px;
  border-style: solid;
}
table.param_table td, table.synopsis_table td {
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  padding: 5px;
}
table.param_table td.name, table.param_table td.req {
  text-align: center;
}
table td.bottom {
  border-width: 1px 1px 1px 0px;
  border-style: solid;
}
li {
  padding: 5px;
}
p.function {
  font-family: monospace;
  font-size: 1.4em;
}
pre {
  font-family: monospace;
  font-size: 1.2em;
  padding-left: 20px;
}
.example_code {
   border: 1px solid blue;
}
.static {
  background: #ffc;
}
#static_desc {
  font-size: .7em;
}
#container {
  width: 800px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
}
#header {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background: white;
}
#header h1 {
  text-align: center;
  margin: 5px;
}
#content {
  margin-left: 180px;
}
#links {
  width: 180px;
  border: 1px solid black;
  padding: 0;
  font-family: sans-serif;
  font-size: .9em;
  background-color: #85B5ED;
  color: black;
  float: left;
}
#links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
#links li {
  padding: 0;
  border-top: 1px solid #4E6A8B;
  border-bottom: 1px solid #4E6A8B;
  margin: 1px 0px 1px 0px;
}
#links li a {
  display: block;
  padding: 5px 5px 5px 5px;
  border-left: 2px solid #4E6A8B;
  border-right: 4px solid #4E6A8B;
  border-bottom: 3px solid #78A4D6;
  color: black;
  text-decoration: none;
}
#links li.current, #links li a:active {
  display: block;
  padding: 5px 5px 5px 6px;
  border-left: 4px solid #4E6A8B;
  border-right: 2px solid #4E6A8B;
  border-bottom: 3px solid #8FC3FF;
  color: black;
  text-decoration: none;
  background-color: #7CA9DD;
}
#footer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  clear: both;
  background: white;
}
.w3c {
  border: none;
  padding-left: 20px;
}
